* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: rgba(26, 26, 29, 0.904);
}
.flex{
    display: flex;
}
h4 {
  
}

.card {
    border: 2px solid rgba(94, 94, 107, 0.61);
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 10px;
    padding: 10px;
    max-width: 400px;
    margin: 20px;
    
}

.defined {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    /* flex-direction: row; */
   
    /* flex: 3; */
    /* min-width: 100px; */

}

.definition {
    display: flex;
    /* flex: 3; */
}

button {
    box-shadow: 2px 2px rgb(32, 31, 31);
    padding: 5px;
    background-color: rgb(235, 193, 88);
    margin: 10% 2% 5% 2%;
    /* min-width: 90px */
}
