.container {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(240, 128, 128, 0.233);
    margin-bottom: 15px;
}

nav form {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    gap: 40%;
}

main {
    display: flex;
   align-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.col-1 {
    display: flex;
    flex: 1;
    align-content: space-between;
    justify-content: space-around;
    align-items: flex-start;
}


.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    flex: 2;
}



.card {
    border: .5px dotted blue;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    
    padding: 10px;
    max-width: 400px;
    
}

.defined {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 2;
}

.definition {
    display: flex;
    flex: 3;
}

button {
    box-shadow: 2px 2px rgb(32, 31, 31)
}

nav button {
    background-color: rgb(28, 140, 231);
}

.col-2 button {
    background-color: rgb(235, 193, 88);
}

.col-1 button {
    min-width: 130px;
    background-color: rgb(6, 201, 91);
}

